ENV=dev
PORT=3001
HOST=0.0.0.0

# DB
PGHOST=lallah.db.elephantsql.com
PGUSER=aywqmvbw
PGDATABASE=aywqmvbw
PGPASSWORD=SGXZ4AUg6qffZiB9ZEZqghbVHxGrwxKe
PGPORT=5432

# TMDB API
TMDB_API_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxNDI1NjkyOTU2Y2M2NmJhZjhmYTk3NzQwMzM0ZGYyYSIsInN1YiI6IjY1MTBiNDhmMzQ0YThlMDk3MmNkODYwZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.zj-mOS_M8CpGtomJnvtM3neJnIGqu77CTB_IDYKQewE
TMDB_API_PWD=1425692956cc66baf8fa97740334df2a
TMDB_API_URL=https://api.themoviedb.org/3/movie/top_rated
